
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

.container {
  display: flex;
  max-width: 100vw;
  margin: auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  overflow: hidden;
}

.left {
  flex: 1;
  padding: 20px;
  background-color: #fdfdfd;
  border-right: 1px solid #ddd;
}

.right {
  flex: 3;
  padding: 30px;
}

.profile-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.details p {
  margin-bottom: 10px;
}

h2 {
  color: #0c5ce6;
  margin-bottom: 15px;
}

.skill-container {
  margin-top: 10px;
}

.skill {
  margin-bottom: 15px;
}

.skill span {
  display: block;
  margin-bottom: 5px;
}

.bar {
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 20px;
  overflow: hidden;
}

.fill {
  height: 10px;
  background-color: #0c5ce6;
  border-radius: 20px;
}
